name: locust

on:
  push:
    branches:
      - master
      - feature/*
    paths:
    - 'locust/**'
    - .github/workflows/locust.yaml


env:
  IMAGE_NAME: locust

jobs:
  build-and-publish-latest:
    runs-on: ubuntu-latest
    # steps:
    # - uses: actions/checkout@v2

    # - name: Build image
    #   run: docker build --tag $IMAGE_NAME --label "runnumber=${GITHUB_RUN_ID}" locust/

    # - name: Log into registry
    #   run: echo "${{ secrets.GITHUB_TOKEN }}" | docker login ghcr.io -u ${{ github.actor }} --password-stdin

    # - name: Push image
    #   run: |
    #     IMAGE_ID=ghcr.io/${{ github.repository_owner }}/$IMAGE_NAME
    #     IMAGE_ID=$(echo $IMAGE_ID | tr '[A-Z]' '[a-z]')
    #     docker tag $IMAGE_NAME $IMAGE_ID:latest
    #     docker push $IMAGE_ID:latest
    
    steps:
      - name: Check out the repo
        uses: actions/checkout@v3
  
      - name: Inject slug/short variables
        uses: rlespinasse/github-slug-action@v3.x  
  
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
  
      - name: Login to  GitHub Container Repository
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
  
      - name: Build and push Container Image to GitHub Container Repository
        uses: docker/build-push-action@v6
        with:
          context: ./locust
          push: true
          tags: ghcr.io/base2services/locust:snapshot_${{env.GITHUB_REF_SLUG}}