name: maven-jdk11

on:
  push:
    branches: [ master ]
    paths:
    - 'maven-jdk11/**'

env:
  IMAGE_NAME: maven-jdk11

jobs:
  build-and-publish-latest:
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/master' # Running this job only for master branch

    steps:
    - uses: actions/checkout@v2

    - name: Build image
      run: docker build --tag $IMAGE_NAME --label "runnumber=${GITHUB_RUN_ID}" maven-jdk11/

    - name: Log into registry
      run: echo "${{ secrets.GITHUB_TOKEN }}" | docker login ghcr.io -u ${{ github.actor }} --password-stdin

    - name: Push image
      run: |
        IMAGE_ID=ghcr.io/${{ github.repository_owner }}/$IMAGE_NAME
        docker push $IMAGE_ID:latest
