name: maven-jdk11

on:
  push:
    branches: [ master ]
    paths:
    - 'maven-jdk11/**'
    - .github/workflows/maven-jdk11.yaml

jobs:
  build-and-publish-latest:
    runs-on: ubuntu-latest

    steps:
    - name: Check out the repo 
      uses: actions/checkout@v2

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v1

    - name: Login to GitHub Container Repository
      uses: docker/login-action@v1
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: Build and Push Container Image to GitHub Container Repository
      uses: docker/build-push-action@v2
      with:
        context: ./maven-jdk11
        platforms: linux/amd64,linux/arm/v8
        push: true
        tags: |
          ghcr.io/base2services/maven-jdk11:latest
        labels: |
          runnumber=${GITHUB_RUN_ID}
          org.opencontainers.image.source=https://github.com/${GITHUB_REPOSITORY}